<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mti.meetme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.mti.meetme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.mti.meetme.permission.C2D_MESSAGE" />
    <permission
        android:name="com.mti.meetme.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.API_KEY"
                android:value="AIzaSyA2eH2kYoyJ-FbhEFrV4ilVkY4APAaScJ8" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2eH2kYoyJ-FbhEFrV4ilVkY4APAaScJ8" />

        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".ProfileActivity"
            android:noHistory="true"
            android:label="@string/profile_title" />
        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.EventUserFragmentActivity"
            android:label="Recherche" />

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.Game.GameParticipantsListActivity"
            android:label="Liste des participants" />

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.Game.GameCompassActivity"
            android:label="Jeux - cache cache" />

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.Game.GameWarmNColdActivity"
            android:label="Jeux - cache cache" />

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.EventCreation.CreateEventManager"
            android:label="@string/event_title" />

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleInstance"/>

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".ChatActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:label="Chat"/>
        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.EventFicheActivity"
            android:label="Event"/>
        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".UserListActivity"
            android:label="Rencontres"/>
        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".Event.EventListActivity"
            android:label="Evenement"/>

        <activity
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:name=".FriendsListActivity"
            android:label="Mes ami(e)s"/>

        <service
            android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

    <service
        android:name=".notifications.MyFirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
    </service>
    <service
        android:name=".notifications.MyFirebaseInstanceIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
    </service>

</manifest>